@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+3');

@import url('./textboxes.css');
@import url('./content.css');
@import url('./buttons.css');
@import url('./text.css');

body {
	margin: 0;
	color: #000000;
	font-size: 17px;
	font-family: 'Source Sans 3';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f4f4f4;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

hr {
	height: 1px;
	border: none;
	color: #000000;
	background-color: #000000;
}